# Archivos y directorios generados por el IDE
.idea/

# Archivos y directorios generados por el sistema
.DS_Store

# Archivos y directorios generados por Python
__pycache__/
*.pyc
.env

# Archivos y directorios generados por Docker/Airflow/Spark
logs/
data/
